/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('../images/background_2.jpg');
    background-size: 100%;
    font-size: large;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    font-size: medium;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.panel-default {
    border-radius: 25px;
    border: 1px solid #000000;
    width: auto;
    height: auto;
    background: rgb(255, 255, 255); /*This is a fallback color in case  the browser doesn't render the below.*/
    background: rgba(255, 255, 255, 0.60);
    
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
    border-radius: 5px;
    border: 1px solid #000000;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}
#messageDescription {
    /*border-radius: 0px;*/
    /*border: 1px solid #000000;*/
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    /*display: block;*/
    /*margin-left: auto;
    margin-right: auto;*/
    text-align: center;
    font-size:medium;
}
#messageHead {
    background-color: rgb(211, 208, 162);
    border-radius: 0px;
    /*border: 1px solid #000000;*/
}
#header {
    /*background-color: #D9D6C9;*/
    background: rgb(255, 255, 255); /*This is a fallback color in case  the browser doesn't render the below.*/
    background: rgba(217, 214, 201, 0.60);
    width: 100%;
    border-bottom: 6px solid black;
    border: 2px solid black;
    border-radius: 5px;
}
#message {
    /*background-color: #F7F7DE;*/
    background: rgb(255, 255, 255); /*This is a fallback color in case  the browser doesn't render the below.*/
    background: rgba(255, 255, 255, 0.60);
    width: 100%;
    border: 2px solid black;
    border-radius: 5px;
}
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}